html,body {
  height: 100%
}

 body {
  display: flex;
  flex-direction: column;
  @extend %opensans-400;
  color: $dark-500;
  line-height: 1.4;
  background-color: $white;
 }

 main {
  flex: 1 1 auto;
 }

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 65px;
}