html,
body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  @extend %opensans-400;
  color: $dark-500;
  line-height: 1.4;
  background-color: $white;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.screen-reader-only {
  font-size: 0;
}

.logo {
  max-width: 200px;
  width: 100%;
  height: 65px;

}

.title {
  margin-bottom: 30px;
  text-align: center;
  @extend %ruda-600;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  @extend %opensans-400;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  background-color: $green-900;
  color: $white;
}


.product {

  &__item {
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid $dark-500;
    border-radius: 6px;
    transition: border 0.5s ease;
    &:hover {
      border-color: $green-900;
    }
  }

  &__top {
    padding: 12px 12px;
    min-height: 57px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;

  }

  &__top-item {
    width: fit-content;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__top-heart {
    top: 12px;
    right: 12px;
    position: absolute;
    max-width: 32px;
    width: 100%;
    height: 29px;
  }

  &__image {
    max-height: 215px;
    max-width: 298px;
    margin-bottom: 18px;
    position: relative;    

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/icon-search.svg);
      background-color: rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      background-position: center center;
      transform-origin: top bottom;
      transform: scale(0);
      transition: transform 0.2s ease;
      z-index: 2;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/bgs.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transform-origin: top bottom;
      transform: scale(0);
      transition: transform 0.2s ease;
      z-index: 1;
    }

    &:hover::before,
    &:hover::after {
      transform: scale(1);
    }
    
  }

  &__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    height: auto;
    padding: 0 18px;
    margin-bottom: 9px;
    @extend %opensans-600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-900;
    flex: 1 1 auto;
  }

  &__bottom {
    min-height: 50px;
    height: auto;
    display: flex;
    position: relative;
    padding: 0 18px 18px 18px;
  }

  &__bottom-price-list {
    display: flex;
    flex-direction: column;

  }

  &__bottom-price-item {
    align-items: flex-start;
    margin-bottom: 3px;
  }

  &__bottom-price-list:first-child {
    color: $silver-600;
  }

  &__bottom-price {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500
  }

  &__bottom-new-price {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500
  }

  &__bottom-price-pineapple {
    position: relative;
  }

  &__bottom-price-pineapple:before {
    top: 1px;
    border-bottom: 1px solid $silver-600;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    transform: rotate(-7deg);
  }

  &__bottom-cart {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }

}