html,
body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  @extend %opensans-400;
  color: $dark-500;
  line-height: 1.4;
  background-color: $white;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 65px;
}

.btn {
  appearance: none;
  /*сбрасываем стандартный вид в браузере*/
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  @extend %opensans-400;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  background-color: $green-900;
  color: $white;
}