// news
.news {
  padding-bottom: 72px;

  @media (max-width:$mobile) {
    padding-bottom: 49px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$mobile) {
      margin-bottom: 26px;
      flex-wrap: wrap;
    }
  }

  &__top-title {
    @media (max-width:$mobile) {
      width: 100%;
    }
  }

  &__top-link {
    align-self: start;
    margin: 8px 8px 0 0;
    @extend %opensans-700;
    font-size: 17px;
    line-height: 1.3;
    color: $green-900;
    outline: transparent;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;

    &:hover {
      color: #4D800C;
      border-color: #4D800C;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
      color: $green-900;
    }

    &:active {
      border-color: $green-200;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width:$tablet-2) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width:$mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }

  &__day-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.4s ease, opacity 0.4s ease;

    &:hover {
      opacity: 0.7;

      .news__day-link {
        transform: scale(1);
      }

    }
  }

  &__day-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transform: scale(0);
    z-index: 1;
  }

  &__day-wrap {
    max-width: 410px;
    width: 100%;
    min-height: 240px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width:$mobile) {
      max-width: 100%;
      min-height: 200px;
    }
  }

  &__day-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 65px;
    height: 76px;
    border-radius: 0 0 4px 4px;
    background-color: $white;
  }

  &__day-months {
    margin-bottom: 4px;
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.1em;
    color: $dark-900;
    text-transform: uppercase;
  }

  &__day-date {
    @extend %ruda-600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $dark-900;
  }

  &__day-title-block {
    padding: 18px;
    max-width: 410px;
    width: 100%;
    flex: 1 1 auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    @media (max-width:$mobile) {
      flex: 0 0 auto;
      max-width: 100%;
      padding: 15px;
    }
  }

  &__day-text-link {
    max-width: 370px;
    width: 100%;
    @extend %opensans-600;
    @include line-clamp(3);
    font-size: 16px;
    line-height: 1.5;
    color: $dark-900;
    outline: transparent;
    z-index: 2;
    transition: border 0.4s ease, box-shadow 0.4s ease, color 0.4s ease;

    &:hover {
      color: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
      color: $green-900;
    }

    @media (max-width:$mobile) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}