.slider {

  &__wrapper {
    min-height: 600px;
    height: auto;
    width: 100%;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__wrap {
    min-height: 600px;
    height: auto;
    display: flex;
    align-items: center;
    cursor: grab;
  }

  &__inner {
    padding: 24px;
    width: 100%;
    min-height: 315px;
    height: auto;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__title,
  &__subtitle {
    max-width: 762px;
    width: 100%;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-500;
  }

  &__subtitle {
    color: $red-900;
    margin-bottom: 12px;
  }

  &__link {
    padding: 12px 24px;
    border-radius: 6px;
    @extend %opensans-400;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;
    outline: transparent;
    background-color: $green-900;
    color: $white;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    &:hover {
      background-color: #4D810C;
    }

    &:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

  &__text {
    margin-bottom: 30px;
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-500;
  }

  &__top {
    position: relative;
  }


  .slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -30px;
    position: absolute;
    top: 50%;
    border: none;
    border-radius: 6px;
    z-index: 10;
    font-size: 0;
 
  }

  .slick-next.slick-arrow {
    right: 2.5%;
    &:hover {
      background-color: $red-900;
    }
  }

  .slick-prev.slick-arrow {
    left: 2.5%;
    &:hover {
      background-color: $red-900;
    }
  }


  .slider__top {
    .slider-arrow-prev {
      left: 2.5%;
      width: 60px;
      height: 60px;
      background-color: $dark-800;
      margin-top: -30px;
      position: absolute;
      top: 50%;
      border: none;
      border-radius: 6px;
      z-index: 10;
      font-size: 0;
      mask: url('../images/sprite.svg#icon-slick-arrow-prev') center/105px no-repeat;

      &:hover {
        background-color: $green-900;
      }
    }
  }

  .slider__top {
    .slider-arrow-next {
      right: 2.5%;
      width: 60px;
      height: 60px;
    
      background-color: $dark-800;
      margin-top: -30px;
      position: absolute;
      top: 50%;
      border: none;
      border-radius: 6px;
      z-index: 10;
      font-size: 0;
      mask: url('../images/sprite.svg#icon-slick-arrow-next') center/105px no-repeat;

      &:hover {
        background-color: $green-900;
      }
    }
  }

}