html,
body {
  height: 100%;
}

.body.lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  @extend %opensans-400;
  color: $dark-500;
  font-size: 14px;
  line-height: 1.4;
  background-color: $white;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.screen-reader-only {
 font-size: 0;
}

.sr-only {
  font-size: 0;
}

.logo {
  max-width: 200px;
  width: 100%;
  height: 65px;
}

.title {
  @extend %ruda-600;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: $dark-900;

  @media (max-width:$mobile) {
    font-size: 24px;
  }
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  @extend %opensans-400;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  background-color: $green-900;
  color: $white;
}

// меню 
.menu {


  &__list {
    padding: 10px 0;
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width:$tablet) {
      display: none;
    }
  }

  &__item {
    margin-right: 18px;
    padding: 5px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    outline: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 1px;
    font-size: 13px;
    @extend %opensans-700;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    color: $white;
    position: relative;
    transition: transform 0.2s ease, border 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white;
      left: 0;
      bottom: -1px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:focus {
      border-color: $green-200;
    }


  }
}

.user-nav {
  display: flex;
  align-items: center;
  order: 4;

  &__item {
    position: relative;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__item-log-in {
    @media (max-width:$tablet) {
      display: none;
    }
  }

  &__item-search {
    display: none;

    @media (max-width:$desktop) {
      display: block;
    }
  }

  &__item-button {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    border-radius: 6px;
    background-color: $green-900;
    border: 2px solid transparent;
    transition: background-color 0.6s ease, border 0.6s ease, fill 0.6s ease;

    &:hover {
      background-color: $dark-500;
    }

    &:focus {
      border-color: $green-100;
    }

    &:active {
      border: 2px solid transparent;
      fill: $dark-500;
    }

    @media (max-width:$tablet) {
      width: 43px;
      height: 43px;
    }
  }

  &__item-button-reg {
    @media (max-width:$tablet) {
      width: 100%;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;
    cursor: pointer;
  }

  &__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3px;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03rem;
    color: #CF3E3B;
    background-color: $white;

    @media (max-width:$tablet) {
      width: 15px;
      height: 15px;
    }
  }
}

// хлебные крошки
.breadcrumbs {
  min-height: 65px;
  height: auto;
  background-color: $silver-100;

  &__wrapper {
    min-height: 65px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 16px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/breadcrumbs-arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 6px;
      height: 10px;
      right: -10px;
      top: 7px;
    }

    &:last-child {
      margin-right: 0;
      color: $red-900;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    @extend %opensans-400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: $dark-500;

    &:hover {
      opacity: 0.8;
    }
  }

}

// звездный рейтинг
.star-box {
  display: flex;

  &__info {
    @extend %opensans-700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03rem;
    align-self: flex-end;
  }

  &__star {
    align-self: flex-end;
  }

}

//counter счетчик каталога
.counter {
  bottom: 23px;
  left: 40%;
  position: absolute;
  max-width: 84px;
  width: 100%;
  display: inline-flex;
  align-self: start;
  justify-self: flex-end;
  margin-right: 18px;

  @media (max-width:$desktop) {
    top: 0;
  }

  @media (max-width:$desktop) {
    left: 30%;
  }

  @media (max-width:$tablet) {
    top: 0;
    left: 30%;
  }


  @media (max-width:$mobile) {
    max-width: 70px;
  }

  &__button {
    padding: 4px;
    width: 24px;
    height: 24px;
    background-color: $green-900;
    outline: transparent;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;

    &:hover {
      background-color: #4D810C;
    }

    &:focus {
      background-color: #63A60E;
      box-shadow: 0 0 0 3px #E0EDCF;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25)F;
    }

  }

  &__button--minus {
    border-radius: 4px 0 0 4px;
  }

  &__button--plus {
    border-radius: 0 4px 4px 0;
  }

  &__value {
    max-width: 36px;
    width: 100%;
    height: 24px;
    text-align: center;
    background-color: $green-200;
    outline: transparent;
  }

}

// бейджи 
.badges {
  margin: 0;
  padding: 3px 6px;
  border-radius: 6px;
  @extend %opensans-700;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03rem;
  color: $white;

  &.badges--novelty {
    background-color: $green-900;
  }

  &.badges--sale {
    background-color: $red-900;
  }

  &.badges--hit {
    background-color: $orange-900;
  }
}

// product
.product {
  height: auto;
  display: flex;
  border: 1px solid $dark-500;
  border-radius: 6px;
  transition: border 0.5s ease;
  position: relative;

  &:hover {
    border-color: $green-900;
  }

  &__visual-block {
    display: flex;
    flex-direction: column;
  }

  &__top {
    padding: 6px 12px;
    min-height: 51px;
  }

  &__top-item {
    padding-top: 0;
    width: fit-content;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__top-heart-button {
    top: 12px;
    right: 12px;
    position: absolute;
    background-color: $white;
    outline: transparent;
    border: 3px solid transparent;
    border-radius: 4px;

    &:focus {
      border-color: $green-200;
    }

    &:active {
      border: 3px solid transparent;
    }

    @media (max-width:$mobile) {
      top: 7px;
      right: 7px;
    }

  }

  &__top-heart {
    max-width: 32px;
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 0.5s ease;

    &:hover {
      fill: #FFB800;
    }

    &:active {
      fill: #FFB800;
      opacity: 0.5;
    }

  }

  &__image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 215px;
    height: auto;
    max-width: 298px;
    width: 100%;
    object-fit: cover;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/icon-search.svg);
      background-color: rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      background-position: center center;
      transform-origin: top bottom;
      transform: scale(0);
      transition: transform 0.3s ease;
      z-index: 2;
    }

    &:after {
      background-image: url(../images/bgs.svg);
      z-index: 1;
    }

    &:hover::before,
    &:hover::after {
      transform: scale(1);
    }

  }

  &__image {
    object-fit: cover;
    margin-bottom: 8px;
  }


  &__info-block {
    min-height: 110px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    height: auto;
    padding: 0 18px;
    @include line-clamp(3);
    @extend %opensans-600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    color: $dark-900;
  }

  &__bottom {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 18px 18px 18px;

    @media (max-width:$mobile) {
      padding: 0 12px 12px 12px;
    }
  }

  &__bottom-price-list {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-self: end;

  }

  &__bottom-price-item {
    align-items: flex-end;
  }

  &__bottom-price {
    min-width: 47px;
    margin-right: auto;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03rem;
    color: $dark-500;
    align-self: end;
  }

  &__bottom-old-price {
    position: relative;
    align-self: end;
  }

  &__bottom-old-price:before {
    top: 1px;
    border-bottom: 1px solid $silver-600;
    position: absolute;
    content: "";
    width: 85%;
    height: 50%;
    transform: rotate(-7deg);
  }

  &__bottom-new-price {
    @extend %opensans-400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03rem;
    color: $dark-500;
  }

  &__bottom-cart-button {
    min-width: 32px;
    height: 32px;
    right: 18px;
    bottom: 18px;
    padding: 8px 8px 16px 8px;
    border: 0;
    outline: transparent;
    border-radius: 4px;
    background-color: #63A60E;
    outline: transparent;
    align-self: end;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    &:hover {
      background-color: #4D810C;
    }

    &:focus {
      background-color: #63A60E;
      box-shadow: 0 0 0px 4px #E0EDCF;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__bottom-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 16px;
    width: 100%;

  }

}

// контакты
.contacts {
  max-width: 220px;
  width: 100%;
  height: auto;

  &__callback {
    margin-bottom: 15px;
  }

  &__callback-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    border: 3px solid transparent;
    border-radius: 6px;
    outline: transparent;
    @extend %opensans-400;
    font-size: 14px;
    line-height: 1.4;
    color: $white;
    transition: opacity 0.3s ease, border 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border: 3px solid $green-200;
      border-color: $white;
    }
  }

}

// social icons
.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;


  &__item {
    margin-right: 12px;
    margin-bottom: 14px;
    border: 3px solid transparent;
    border-radius: 6px;
    outline: transparent;
    width: 32px;
    height: 32px;
    object-fit: cover;

    &:last-child {
      margin-right: 0;
    }

  }

  &__link-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $white;
    outline: transparent;
    transition: fill 0.3s ease;

    &:hover {
      fill: #CACACA;
    }

    &:focus {
      border-color: $green-200;
    }

    &:active {
      fill: $green-200;
    }
  }

}

//pagination
.pagination {

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width:$tablet-2) {

      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }

  }

  &__link {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: $silver-100;
    @extend %opensans-400;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: $dark-500;
    outline: transparent;

    &:hover {
      border-color: $silver-600;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.pagination__link--active {
      border-color: $dark-500;
    }
  }

  &__span {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    background-color: $silver-100;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-prev {
    fill: $silver-600;
  }

  &__icon-next,
  &__icon-prev {
    width: 11px;
    height: 18px;
  }

}




