<footer class="footer">
  <div class="container">

    <div class="footer__top-logo">
      <img class="logo footer__top-logoimg" src="images/logo.svg" alt="логотип сайта">
    </div>

    <div class="footer__top">

      <div class="footer__promotion">
        <p class="footer__top-text">Следите за нашими акциями</p>
        <div class="footer__email">
          <input class="footer__promotion-input" type="email" name="email" placeholder="email@email.com" required>
          <button class="footer__promotion-button" type="submit">подписаться</button>
        </div>
      </div>

      <div class="footer__about">

        <div class="footer__about-item">
          <a class="footer__about-link footer__top-text" href="#">О нас</a>
          <a class="footer__about-link footer__top-text" href="#">Контакты</a>
          <a class="footer__about-link footer__top-text" href="#">Публичная оферта</a>
        </div>

        <div class="footer__about-item">
          <a class="footer__about-link footer__top-text" href="#">Оплата и доставка</a>
          <a class="footer__about-link footer__top-text" href="#">Вакансии</a>
          <a class="footer__about-link footer__top-text" href="#">Акции</a>
        </div>

        <div class="footer__about-item">
          <a class="footer__about-link footer__top-text" href="#">Отзывы</a>
          <a class="footer__about-link footer__top-text" href="#">Новости</a>
        </div>

      </div>

      <div class="footer__contacts">
        <a class="footer__contacts-link footer__top-text" href="tel:+7907288365">Горячая линия +7 907 288 365</a>
        <a class="footer__contacts-link footer__top-text" href="#">Санкт-Петербург, ул. Ленина, 1</a>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__link-icon">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__link-icon">
                <use xlink:href="images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__link-icon">
                <use xlink:href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__link-icon">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer__bottom">
      <p class="footer__bottom-copyrite">&#169; фрэшок</p>
      <ul class="footer__bottom-cards">
        <li class="footer__bottom-item">
          <svg class="footer__bottom-card">
            <use xlink:href="images/sprite.svg#icon-visa"></use>
          </svg>
        </li>
        <li class="footer__bottom-item">
          <svg class="footer__bottom-card">
            <use xlink:href="images/sprite.svg#icon-mastercard"></use>
          </svg>
        </li>
      </ul>
    </div>

  </div>
</footer>