<header class="header">

  <div class="header__top">
    <div class="container">

      <div class="header__top-box">
        <ul class="header__top-back-items">
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-del-address"></use>
              </svg>
              <span class="header__top-text">адрес и время доставки</span>
            </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              <span class="header__top-text">горячая линия 24/7</span>
            </a>
          </li>
        </ul>

        <nav class="nav">

          <button class="nav__icon-button menu-icon" type="button"><span class="sr-only">логотип меню
              бургер</span></button>

          <div class="nav__body">

            <div class="nav__top container-body">

              <a class="nav__link" href="#">
                <svg class="nav__link-logo">
                  <use xlink:href="images/sprite.svg#icon-logo"></use>
                </svg>
              </a>

              <button class="menu-icon" type="button"><span class="screen-reader-only">логотип меню бургер</span>
              </button>

            </div>

            <div class="nav__login">

              <span class="nav__login-link">
                <svg class="nav__login-icon">
                  <use xlink:href="images/sprite.svg#icon-user"></use>
                </svg>
              </span>

              <ul class="nav__login-list">
                <li class="nav__login-item">
                  <a class="nav__login-link" href="#">Вход</a>
                </li>
                <li class="nav__login-item">
                  <a class="nav__login-link" href="#">Регистрация</a>
                </li>
              </ul>

            </div>

            <div class="nav__catalog">

            </div>

            <div class="nav__contacts contacts container-body">

              <ul class="nav__contacts-list contacts__callback">
                <li class="nav__contacts-item contacts__callback-item ">
                  <a class="nav__contacts-link nav__contacts-link--tel"
                    style="background-image: url(images/icon-tel.svg);" href="tel:+7907288365">+7 907 288 365</a>
                </li>
                <li class="nav__contacts-item contacts__callback-item">
                  <a class="nav__contacts-link nav__contacts-link--location"
                    style="background-image: url(images/icon-location.svg);" href="#">Санкт-Петербург, ул. Ленина, 1</a>
                </li>
              </ul>

              <ul class="nav__socials socials">
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__link-icon" style="width: 32; height: 32">
                      <use xlink:href="images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__link-icon" style="width: 32; height: 32">
                      <use xlink:href="images/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__link-icon" style="width: 32; height: 32">
                      <use xlink:href="images/sprite.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__link-icon" style="width: 32; height: 32">
                      <use xlink:href="images/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>

            </div>

            <div class="nav-menu container-body">

              <ul class="nav-menu__list">

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Доставка</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">О нас</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Новости</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Контакты</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Акции</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Вакансии</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Отзывы</a>
                </li>

                <li class="nav-menu__item">
                  <a class="nav-menu__link" href="#">Публичная оферта</a>
                </li>

              </ul>

            </div>


          </div>

        </nav>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">доставка</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">о нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">новости</a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

  <div class="header__bottom">
    <div class="container">

      <nav class="header__bottom-wrapper">

        <a class="header__bottom-link" href="#">
          <img class="header__bottom-logo logo" src="images/logo.svg" alt="логотип сайта">
        </a>

        <a class="header__bottom-link-short" href="#">
          <img class="header__bottom-logoshort" src="images/logo-short.svg" alt="логотип сайта">
        </a>

        <div class="header__bottom-catalog-box" data-da=".nav__catalog,768,3">

          <button class="header__bottom-catalog" type="button">
            <svg class="header__bottom-catalog-icon">
              <use xlink:href="images/sprite.svg#icon-nav"></use>
            </svg>
            <span class="header__bottom-catalog-title">Каталог продуктов</span>
            <img class="header__bottom-catalog-icon-arrow" src="images/icon-arrow.svg" alt="стрелка">

          </button>

          <ul class="header__bottom-catalog-list">

            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Овощи и фрукты</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Бакалея</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Молочные продукты</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Хлеб</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Мясо</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Колбаса</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Рыба</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Алкоголь</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Напитки</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Торты</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Мясо</a>
            </li>
            <li class="header__bottom-catalog-item">
              <a class="header__bottom-catalog-link" href="#">Чай, кофе</a>
            </li>

          </ul>

        </div>

        <form class="header-bottom__form" action="#">

          <label class="screen-reader-only" for="header-input"> метка для формы поиска</label>


          <input class="header-bottom__input" id="header-input" type="search" name="search"
            placeholder="Найти в магазине ..." required>

          <button class="header-bottom__input-button" type="button">

            <svg class="header-bottom__inputbox-icon">
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>

          </button>

          <button class="header-bottom__button btn" type="submit" name="search">
            поиск
          </button>

        </form>

        <ul class="user-nav">
          <li class="user-nav__item user-nav__item-log-in">
            <a class="user-nav__item-button" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>
            </a>
          </li>
          <li class="user-nav__item user-nav__item-search">
            <a class="user-nav__item-button" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__item-button" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </a>
            <span class="user-nav__count">12</span>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__item-button" type="button">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
            <span class="user-nav__count">12</span>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</header>