<header class="header">

  <div class="header__top">
    <div class="container">

      <div class="header__top-box">
        <ul class="header__top-back-items">
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-del-address"></use>
              </svg>
              <span class="header__top-text">адрес и время доставки</span>
            </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              <span class="header__top-text">горячая линия 24/7</span>
            </a>
          </li>
        </ul>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">доставка</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">о нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">новости</a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-wrapper">

       <a class="header__bottom-link" href="#">
        <img class="logo header__bottom-logo" src="images/logo.svg" alt="логотип сайта">
       </a> 

        <button class="header__bottom-catalog" type="button">
          <svg class="header__bottom-catalog-icon">
            <use xlink:href="images/sprite.svg#icon-nav"></use>
          </svg>
          <p class="header__bottom-catalog-title">Каталог продуктов</p>
          <img class="header__bottom-catalog-icon-arrow" src="images/icon-arrow.svg" alt="стрелка">
        </button>

        <div class="header__bottom-inputbox">
          <svg class="header__bottom-inputbox-icon">
            <use xlink:href="images/sprite.svg#icon-search"></use>
          </svg>
          <input class="header__bottom-input" id="header-input" type="search" name="search"
            placeholder="  Найти в магазине ..." required>
        </div>

        <button class="header__bottom-button" type="button">
        <label class="header__bottom-label" for="header-input">поиск</label>
        </button>


        <ul class="user-nav">
          <li class="user-nav__item">
            <a class="user-nav__item-link" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__item-link" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </a>
            <span class="user-nav__count">12</span>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__item-link" href="#">
              <svg class="user-nav__icon">
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </a>
            <span class="user-nav__count">12</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</header>