<header class="header">

  <div class="header__top">
    <div class="container">

      <div class="header__top-box">
        <ul class="header__top-back-items">
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-del-address"></use>
              </svg>
              <span class="header__top-item-text">адрес и время доставки</span>
            </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">
              <svg class="header__top-icon">
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              <span class="header__top-item-text">горячая линия 24/7</span>
            </a>
          </li>
        </ul>
        
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">доставка</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">о нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">новости</a>
            </li>
          </ul>
        </nav>
  
      </div>

    </div>
  </div>


</header>