<section class="products">
  <div class="container">
    <div class="products__top">

      <h3 class="products__top-title title">топовые товары</h3>

      <ul class="products__top-buttons">
        <li class="products__top-button">
          <button class="products__top-btn" type="button" data-filter="all">все товары</button>
        </li>
        <li class="products__top-button">
          <button class="products__top-btn" type="button" data-filter=".category-a">фрукты</button>
        </li>
        <li class="products__top-button">
          <button class="products__top-btn" type="button" data-filter=".category-b">овощи</button>
        </li>
        <li class="products__top-button">
          <button class="products__top-btn" type="button" data-filter=".category-c">напитки</button>
        </li>
        <li class="products__top-button">
          <button class="products__top-btn" type="button" data-filter=".category-d">бакалея</button>
        </li>
      </ul>

      <ul class="products__list">

        <li class="product__item mix category-a" data-order="1">
          <ul class="product__top">
            <li class="product__top-item">
              <img class="product__top-novelty" src="images/products/novelty.svg" alt="новинка">
            </li>
            <li class="product__top-item">
              <img class="product__top-sale" src="images/products/sale.svg" alt="скидка">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/pineapple.svg" alt="ананасы">
          </a>

          <h6 class="product__title">Ананас, 1кг</h6>

          <div class="product__bottom">
            <ul class="product__bottom-price-list">
              <li class="product__bottom-price-item">
                <p class="product__bottom-price product__bottom-price-pineapple">1999 ₽</p>
              </li>
              <li class="product__bottom-price-item">
                <p class="product__bottom-new-price">999 ₽</p>
              </li>
            </ul>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-a" data-order="1">

          <div class="product__top">
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </div>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/lemon.svg" alt="лимоны">
          </a>

          <h6 class="product__title">Лимон, 1кг</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">199 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-a" data-order="1">
          <ul class="product__top">

            <li class="product__top-item">
              <img class="product__top-hit" src="images/products/hit.svg" alt="хит товар">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>

          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/dragon-fruit.svg" alt="питахайя красная">
          </a>

          <h6 class="product__title">Питахайя красная с белой мякотью, 1шт</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">1019 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-d" data-order="4">
          <div class="product__top">
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </div>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/ketchup.svg" alt="кетчуп">
          </a>

          <h6 class="product__title">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">600 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-b" data-order="2">

          <ul class="product__top">
            <li class="product__top-item">
              <img class="product__top-hit" src="images/products/hit.svg" alt="хит товар">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/carrot.svg" alt="морковь">
          </a>

          <h6 class="product__title">Морковь молодая с бабушкиной грядки, 1кг</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">49 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-c" data-order="3">

          <ul class="product__top">
            <li class="product__top-item">
              <img class="product__top-sale-30" src="images/products/sale-30.svg" alt="скидка 30%">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/juice.svg" alt="сок">
          </a>

          <h6 class="product__title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный
            апельсин безалкогольн...</h6>

          <div class="product__bottom">
            <ul class="product__bottom-price-list">
              <li class="product__bottom-price-item">
                <p class="product__bottom-price product__bottom-price-pineapple">299 ₽</p>
              </li>
              <li class="product__bottom-price-item">
                <p class="product__bottom-new-price">199 ₽</p>
              </li>
            </ul>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-c" data-order="3">

          <ul class="product__top">
            <li class="product__top-item">
              <img class="product__top-novelty" src="images/products/novelty.svg" alt="новинка">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/coffee.svg" alt="кофе">
          </a>


          <h6 class="product__title">Кофе с коноплей органический Caffé Salomoni 250г</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">877 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

        <li class="product__item mix category-b" data-order="2">

          <ul class="product__top">
            <li class="product__top-item">
              <img class="product__top-novelty" src="images/products/novelty.svg" alt="новинка">
            </li>
            <svg class="product__top-heart">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
          </ul>

          <a class="product__image" href="#">
            <img class="product__image-img" src="images/products/paprik.svg" alt="перец сладкий">
          </a>

          <h6 class="product__title">Перец оранжевый, 1кг</h6>

          <div class="product__bottom">
            <p class="product__bottom-price">349 ₽</p>
            <img class="product__bottom-cart" src="images/products/cart-btn.svg" alt="корзина">
          </div>
        </li>

      </ul>

      <button class="products__button btn" type="button">Показать еще</button>

    </div>

    <div class="products__banner">
        <ul class="products__banner-list">
          <li class="products__banner-item products__banner-item-first-child" style="background-image: url(../images/fruits-1.svg);">
            <h6 class="products__banner-uptitle">свежайшие фрукты</h6>
            <h4 class="products__banner-title">начни фруктовое лето<br>всего от 99 ₽</h4>
            <a class="products__banner-link products__banner-item-first-child" href="#">перейти к покупкам</a>
          </li>
          <li class="products__banner-item products__banner-item-nth-child" style="background-image: url(../images/veg-2.svg);">
            <h6 class="products__banner-uptitle">сезонная распродажа</h6>
            <h4 class="products__banner-title">овощепад<br>до -50%</h4>
            <a class="products__banner-link" href="#">перейти к покупкам</a>
          </li>
          <li class="products__banner-item products__banner-item-nth-child" style="background-image: url(../images/bread-3.svg);">
            <h6 class="products__banner-uptitle">ням-ням</h6>
            <h4 class="products__banner-title">свежий хлебчик</h4>
            <a class="products__banner-link" href="#">перейти к покупкам</a>
          </li>
        </ul>
    </div>

  </div>
</section>